$mainColor: rgb(49, 49, 238);

body {
    background-color: rgb(205, 205, 207);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: $mainColor;
    color: white;
    margin: 0;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;

    .navbarList {
        width: 50%;
        list-style: none;
        display: flex;
        justify-content: center;

        a {
            color: white;
            text-decoration-line: none;
            margin: auto;
        }

        .navbarLi {
            cursor: pointer;
        }

        .navbarLi:hover {
            text-decoration-line: underline ;
        }

        .main {
            font-size: 20px;
        }
    }
}

.profileContainer {
    margin: 70px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(22, 22, 22);

    .profileImg {
        border-radius: 50%;
        width: 40%;
    }

    h2 {
        font-size: 25px;
    }

    .socialNetwork {
        font-size: 40px;
        
        .icon {
            margin: 0 15px;
            cursor: pointer;
        }
        .icon:hover {
            font-size: 50px;
        }
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;

    h4 {
        margin: 20px;
        font-size: 30px;
    }

    .projectH4 {
        margin: 35px auto 0 auto;
    }

    .cardContainer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {
            background-color: white;
            border-radius: 5px;
            width: 30%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
            box-shadow: 10px 5px rgb(153, 152, 152);

            .imgContainer {
                width: 100%;
                height: 60%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 60%;
                }
            }

            p {
                margin-bottom: 0;
            }

            .company {
                font-size: 25px;
                font-weight: bold;
                text-align: center;
            }

            .cargo {
                font-size: 20px;
                text-align: center;
            }

            .age {
                font-size: 20px;
                color: rgb(80, 79, 79);
            }
        }
    }

    .projectContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 10px;

        a {
            text-decoration: none;
            width: 30%;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 5px;
            margin: 15px;
            cursor: pointer;

            .title {
                width: 100%;
                background-color: $mainColor;
                margin: 0;
                color: white;
                text-align: center;
                font-size: 20px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .description {
                padding: 15px;
            }

            .code {
                width: 40%;
                border-radius: 25px;
                background-color: $mainColor;
                padding: 5px;
                color: white;
                text-align: center;
                margin: 10px auto;
                
            }
        }

        a:hover {
            transform: scale(1.1, 1.1);
        }
    }
}

.abilities {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 80px;

    h4 {
        font-size: 30px;
    }

    .Container {
        width: 40%;

        .stackContainer {
            background-color: white;
            border-radius: 5px;
            box-shadow: 10px 5px rgb(153, 152, 152);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 15px;

                .imgStack {
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }
            
        }

        .languageContainer {
                background-color: white;
                border-radius: 5px;
                box-shadow: 10px 5px rgb(153, 152, 152);

            .language {
                display: flex;
                padding: 15px;
                align-items: center;
    
                .imgLanguage {
                    width: 50%;
    
                    img {
                        width: 60%;
                    }
                }

                span {
                    font-size: 25px;
                }
            }
            
        }
    }
}

@media (max-width: 992px) {
    .profileContainer {
        width: 75%;
    
        .profileImg {
            width: 50%;
        }
    
        .socialNetwork {
            font-size: 60px;

            .icon:hover {
                font-size: 70px;
            }
        }
    }

    .mainContainer {
        h4 {
            margin: 20px auto;
            font-size: 35px;
        }
    
        .projectH4 {
            margin: 35px auto 0 auto;
        }
    
        .cardContainer {
            .card {
                width: 40%;
            }
        }

        .projectContainer {  
            a {
                width: 40%;
            }
        }
    }

    .abilities {    
        .Container {
            width: 45%;

            h4 {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 730px) {
    .navbar {
        font-size: 20px;
        z-index: 3;

        .navbarList {
            width: 100%;
        }
    }

    .profileContainer {
        width: 100%;
        font-size: 20px;
    
        .profileImg {
            width: 50%;
        }
    
        .socialNetwork {
            font-size: 65px;

            .icon:hover {
                font-size: 75px;
            }
        }
    }

    .mainContainer {
        h4 {
            margin: 20px auto;
            font-size: 40px;
        }
    
        .projectH4 {
            margin: 35px auto 0 auto;
        }
    
        .cardContainer {
            .card {
                width: 70%;
                height: 500px;

                .company {
                    font-size: 30px;
                }
    
                .cargo {
                    font-size: 25px;
                }
    
                .age {
                    font-size: 25px;
                }
            }
        }

        .projectContainer {  
            a {
                width: 70%;

                .title {
                    font-size: 30px;
                }
                .description {
                    font-size: 25px;
                }
                .code {
                    font-size: 25px;
                }
            }
        }
    }

    .abilities {   
        flex-wrap: wrap; 
        .Container {
            width: 70%;

            h4 {
                font-size: 40px;
            }
        }
    }
}